@import url('/static/css/colors.css');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f0f0; 
  }

.strt_button {
    text-align: center; 
}

.start_button {
    background: var(--button-background, #000); 
    color: var(--button-text, #fff);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px; 
    border-radius: 16px;
    width: 12rem;
    height: 5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
  
  /* Button hover effect */
  .start_button:hover {
    background-color: var(--button-hover-background, #444);
    transform: scale(1.05);/
}