{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/colors.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <title>Log in</title>
    </head>
    <body>
        <div class="container">
            <h2>Login</h2>
            <div class="form_container">
                <form method="POST">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Login</button>
            </form> 
                <p>Don't have an account? <a href="{% url 'register_view' %}">Register here</a></p>
            </div>

            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        </div>
    </body>
</html>